<div id="buttons">
<button id="get-all-posts">Get All Posts</button>
<button id="get-all-sorted-title">Get Sorted By Title Ascending</button>
<button id="get-all-sorted-title-desc">Get Sorted By Title Descending</button>
<button id="get-all-sorted-date">Get Sorted By Date Ascending</button>
<button id="get-all-sorted-date-desc">Get Sorted By Date Descending</button>
</div>
<div id="posts"></div>
<div id="post-bar">
<label for="post-title">Title</label>
<input type="text" id="post-title"/> <br/>
<label for="post">Message</label><br/>
<textarea name="message" id="post" cols="30" rows="10" ></textarea><br/>
<button id="post-message">Post</button>
<div id="response"></div>
</div>