* {
    margin: 0;
    padding: 0;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
}

#post-bar, #posts {
    margin: 20px;
}

#posts ul {
    margin-left: 15px;
    list-style-type: none;
}

#posts ul li {
    border-bottom: 1px solid greenyellow;
    margin: 10px;
}

#buttons {
    text-align: center;
    margin: 10px;
}